@page "/authentication/personal-data"
@inject IAuthenticationService _authService;
@inject NavigationManager _nav;
@attribute [Authorize]

<h4>Personal data</h4>

<div class="row">
    <div class="col-md-6">
        <p>
            Your account contains personal data that you have given us.
            This page allows you to download or delete that data.
        </p>
        <p>
            <strong>Deleting this data will permanently remove your account,
                    and it cannot be recovered.</strong>
        </p>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary" @onclick=DownloadDataAsync>
                    Download
                </button>
            </div>
            <div class="col">
                <button class="btn btn-danger" @onclick=DeleteAccountAsync>
                    Delete data and close account
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        @if (hasDisplayData)
        {
            <textarea class="col-12 col-md-6" style="height: 60vh" readonly>
                @displayData
            </textarea>
        }
    </div>
</div>
