@page "/authentication/reset-password/{ResetCode}"
@inject IAuthenticationService _authService;
@inject NavigationManager _nav;

<h4>Reset Password</h4>

<div class="row">
    <div class="col-md-4">
        <EditForm Model="@input" OnValidSubmit="OnPostAsync">
            <DataAnnotationsValidator />
            <div class="form-floating mb-3">
                <InputText class="form-control" type="email" @bind-Value=input.Email
                           autocomplete="email" aria-required="true"
                           placeholder="name@example.com" />
                <label class="form-label" for="email">Email</label>
                <ValidationMessage For=@(() => input.Email) />
            </div>
            <div class="form-floating my-2">
                <InputText class="form-control" type="password" @bind-Value=input.NewPassword
                           autocomplete="new-password" aria-required="true"
                           placeholder="password" />
                <label class="form-label" for="new-password">New Password</label>
                <ValidationMessage For=@(() => input.NewPassword) />
            </div>
            <div class="form-floating my-2">
                <InputText class="form-control" type="password" @bind-Value=input.ConfirmPassword
                           autocomplete="confirm-password" aria-required="true"
                           placeholder="password" />
                <label class="form-label" for="confirm-password">Confirm Password</label>
                <ValidationMessage For=@(() => input.ConfirmPassword) />
            </div>

            <button id="register-submit" type="submit" class="w-100 btn btn-lg btn-primary">
                Update password
            </button>
        </EditForm>
        <div class="my-2">@message</div>
    </div>
</div>
