@page "/admin/dashboard"
@attribute [Authorize(Roles = UserRoles.Admin)]

<h3>Dashboard</h3>

<AuthorizeView>
    <Authorized>
        @context.User.Identity?.Name | 
        isAdmin: @context.User.IsInRole(UserRoles.Admin)
    </Authorized>
</AuthorizeView>
@code {

}
