@page "/"

<PageTitle>Shurly-Home</PageTitle>

<h1>Shurly - Url Shortener</h1>
<p>A web application for creating and managing shortened URL redirects to your desired 
   full URLs. We allow authenticated users to save links that are easier to use in 
   social media or advertisements.</p>
<hr />

<AuthorizeView>
    <Authorized>
        <div>Operation buttons coming soon...</div>
    </Authorized>
    <NotAuthorized>
        <LoginDisplay />
    </NotAuthorized>
</AuthorizeView>