<span class="me-3">
    <span class="me-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
        </svg>
    </span>
    <span style="position: relative; top: 2px;">@DisplayDate</span>
</span>

@code {
    private string DisplayDate
    {
        get
        {
            var offset = new DateTimeOffset(CreatedOn, DateTimeOffset.UtcNow.Offset);
            if (UseShortFormat is true)
            {
                return offset.ToString("MMM d, yyyy");
            }
            else
            {
                return offset.ToString("MMMM d, yyyy h:mm tt zzz");
            }
        }
    }

    [Parameter]
    public DateTime CreatedOn { get; set; }

    [Parameter]
    public bool UseShortFormat { get; set; } = true;
}
