@page "/short-url"
@attribute [Authorize]
@inject ShurlyApiService _service;

<h4 class="fw-bold">My Links</h4>
<div>
    <a class="btn btn-outline-primary btn-sm" style="max-width: 180px;"
       href=@Configuration.ShortUrl.CreateUrl>
       Create New Short Link
    </a>
</div>
<hr />

@if (_urlList is not null)
{
    @if (_urlList.Any())
    {
        <div class="row">
            <div class="col col-xl-8 offset-xl-2">
                @foreach (var shortLink in _urlList)
                {
                    <ShortUrlListItem Link=@shortLink />
                }
            </div>
        </div>
    }
    else
    {
        <div>
            You don't have any saved short links.
            <a href=@Configuration.ShortUrl.CreateUrl>Create one now!</a>
        </div>
    }
}

@if (_hasMoreResults)
{
<div class="mt-2">
    <button class="btn btn-outline-secondary btn-sm" @onclick=OnMoreLinks>
        More Links...
    </button>
</div>
}

<div>@_message</div>
<hr />
